.content-four {
    padding: 64px;
}

.content-four .container {
    background-color: khaki;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 32px 128px;
    gap: 32px;
}

.content-four .container p {
    font-size: larger;
}

.container button {
    margin-right: 50%;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    border-color: white;
    padding: 4px 32px;
    text-align: center;
}

.font {
    font-size: larger; 
    font-weight: bolder;
    color: white;
}