.content-one {
    background-color: aqua;
    display: flex;
    gap: 16px;
    align-items: center;
}

.content-one .left {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 10px;
}

.left .big {
    font-size: 30px;
    font-weight: bolder;
}

.content-one img {
    height: 100px;
    width: 150px;
}